# Interbase/firebird databases
*.fdb
*.gdb
*.gbk
*.fbk
*.fdc
*.fds
# note: we allow *.fbc here for automatic *.fdc/*.fds creation from backup

# zips, backups, luarocks build files
*.src.rock
*.zip
*.tar.gz

# Compiled Lua sources
luac.out

# temporary stuff
GUID.txt

# Shared objects (shouldn't be there anyway)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
